/* CSS files add styling rules to your content */

* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0rm;
    padding: 0%;
    color: white;
    
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
}
.container > * {
    width: 100%;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-content: center;
} 
.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}

.btn {
    font-size: 1rem;
    padding: 1rem;
    width: 10rem;
    text-align: center;
    border: 0.1rem solid rgb(27, 9, 9);
    margin-bottom: 1rem;
    text-decoration: none;
    color:black;
    background-color: rgb(228, 199, 199);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 10ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1{
    font-size: 2rem;
    margin-bottom: 5rem;
    color: black;
}

h1 > span{
    font-size: 2rem;
    font-weight: 100;
}

h2{
    font-size: 1rem;
    margin-bottom: 3rem;
    font-weight: 100;
}

h3{
    font-size: 1rem;
    margin-bottom: 3rem;
    font-weight: 50;
}
